@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');
@import url('https://fonts.cdnfonts.com/css/helvetica-neue-5');
@import url('https://fonts.cdnfonts.com/css/product-sans');
@import url('https://fonts.cdnfonts.com/css/heading-now-trial');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .font-inter {
      font-family: 'Inter', sans-serif;
    }
    .font-antonio {
        font-family: 'Antonio', sans-serif;
    }
    .font-bebas {
        font-family: "Bebas Neue", sans-serif;
    }
    .font-syne {
        font-family: "Syne", sans-serif;
    }
    .font-helvetica {
        font-family: 'Helvetica Neue', sans-serif;                                          
    }
    .font-product {
        font-family: 'Product Sans', sans-serif;
    }
    .font-heading {
        font-family: 'Heading Now Trial', sans-serif;
    }
}

